################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication1/.vs/WebApplication1
/WebApplication1/bin/Debug/netcoreapp3.1
/WebApplication1/obj
